body {
  background: black;
  color: white;
  text-align: center;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

canvas {
  background: rgb(100, 100, 100);
  border: 2px solid white;
}
